<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome to the Daily Donut Tracker</title>
      {% endif %}
    </head>
    <body>
        <div>
            Donut Tracker: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Log In</a>
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>

